fastapi==0.115.12
uvicorn[standard]==0.34.2
aiokafka==0.14.0
kafka-python==2.0.2
sqlmodel==0.0.24
asyncpg==0.30.0
pydantic-settings==2.9.1
python-dotenv==1.1.0
redis==5.2.1
ffmpeg-python==0.2.0
celery[redis]==5.4.0
minio==7.2.15
psycopg2-binary==2.9.9
